.Blogs{
    display: grid;
}
.BlogHolder{
    position: center;
    /* display: flex; */
    padding: 10px;
    border: 1px solid ;
    border-radius: 5px;
    margin: 5rem;
    min-height: 175vh;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
}
.Blogs__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
/* .cardHolder{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
   
} */

.blog__card{
    transform: rotate(5deg);
    background: var(--color-black);
    width: 300px;
    /* height: 00px; */
    margin: 25px;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
   
}
.blog__card:hover{
    box-shadow: 1px 1px 20px 20px var(--color-bg-variant);
    cursor: default;
    transform: rotate(-5deg);
    transform:  scale(1.1);
}
.card__holder{
    /* position: inherit; */
    display: grid;
    justify-content: center;
    margin: 0px;
}
.card__holder:hover{
    z-index: 5;
    
}
.layer1{
    /* background-color: aliceblue; */
    grid-column: 1;
    grid-row: 1;
}
.layer2{
    grid-column: 1;
    grid-row: 1;
    position: relative;
    padding-top: 130%;
}
.card__img{
    /* background-color: blue; */
    width: 290px;
}



.blog__icon{
    color: var(--color-white);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.blog__card h5{
    font-size: 1rem;
}
.blog__card small{
    font-size: 0.75rem;
    color: var(--color-light);

}

.Blog-Text{

    margin: 5rem;
    align-self: center;
    width: 75%;
    padding: 5px;
    border: solid 2px;
    background:var(--color-bg-variant) ;
    /* text-align: block-text; */
    font: white;
}
/*=============Tablet=============*/
@media screen and (max-width: 1024px){
    .BlogHolder{
        text-align: center;
        width: 100%;
        margin: 3rem auto 3rem;
    }
     .Blogs__cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    } 
}
@media screen and (max-width: 1260px){
    .BlogHolder{
        text-align: center;
        width: 100%;
        margin: 3rem auto 3rem;
    }
     .Blogs__cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    } 
}
/*=============mobile===============*/
@media screen and (max-width: 600px){
    /* .container{
        /* background-color: rgb(99, 0, 230); 
    } */
    .Blogs{
        margin-top: 3rem;
        
    }
    .BlogHolder{
        text-align: center;
        width: 100%;
        margin: 3rem auto 3rem;
        
    }
    .Blogs__cards{
        /* grid-template-columns: 1fr 1fr; */
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .about__content{
        text-align: center;
    }
    .about__content p{
        margin: 1.5rem 0;
    }
    .Blog-Text{
        padding: 5px;
        border: solid 2px;
        background:var(--color-bg-variant) ;
        text-align: left;
        font: white;
    }
}
    
