.main__container{

}
.design__container{
    text-align: left;
}

.design__img{
    width: 300px;
}
.design__wireframe{
    width: 50%;

    transform: rotate(270deg);
}
.design__wireframe__alt{
    width: 75%;
}
.design__img__holder{
    padding-top: 0px;
    margin-left: 15rem;
    align-items: center;
}

@media screen and (max-width: 900px){
    .design__wireframe__alt{
        width: 75%;
    }
    .design__wireframe{
        width: 50%;
    
        transform: rotate(270deg);
    }
    .design__img__holder{
        padding-top: 0px;
        margin-left: 1rem;
        align-items: center;
    }
}
/*=============mobile===============*/
@media screen and (max-width: 600px){
    .design__wireframe__alt{
        width: 70%;
    }
    .design__wireframe{
        width: 75%;
    
        transform: rotate(270deg);
    }
    .design__img__holder{
        padding-top: 0px;
        margin-left: 1rem;
        align-items: center;
    }
}