@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    /* background-color: rgb(134, 1, 56); */
}
:root{
    --color-bg:#540019;
    --color-bg-variant: #531a2e;
    --color-primary: #D46679;
    --color-primary-variant: #26000e;
    --color-white: white;
    --color-black: black;
    --color-light: rgba(255, 255, 255, 0.568);

    --container-width-lg: 75%;
    --container-width-md: 100%;
    --container-width-ms: 90%;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    /* display: none; */
    width: 15px;
}
::-webkit-scrollbar-track {
    background: var(--color-primary);
}
::-webkit-scrollbar-thumb {
    border: 1px solid var(--color-primary-variant);
    background: var(--color-bg-variant);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-bg);
}
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(var(--color-bg), var(--color-black));
    color: var(--color-white);
    line-height: 1.8;

}
.App{
    /* background-color: #005368; */
    margin-left: 12%;
    width: 75%;
    display: flex;
    flex-direction: column;
    flex: 100%;
}

/* =================== General Components ====================*/

h1,h2,h3,h4,h5{
    font-weight: 500;
}

h1{
    font-size: 2.5rem;
}

section{
    margin-top: 4.5rem;
}
article{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

section> h2, section>h5{
    text-align: center;
    color: var(--color-light);
}
section>h2{
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light{
    color: var(--color-light);
}
a{
    color: var(--color-primary);
    transition: var(--transition);
}
a:hover{
    color: var(--color-white);
}
.btn{
    width:  max-content;
    display: inline-block;
    color: var(--color-primary);
    background: var(--color-white);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    font-weight: 700;
    text-decoration: none;
}
.btn:hover{
    background: var(--color-primary-variant);
    color: var(--color-white);
    
    border-color: transparent;
}
.btn-primary{
    background:  var(--color-primary);
    color: var(--color-bg);
}
img{
    display:  block;
    width: 100%;
    object-fit: cover;
}

/* =======================Devices=============================*/

/*=============Tablet=============*/
@media screen and (max-width: 900px){
    .container{
        width: var(--container-width-md);
    }
    section{
        margin-top: 6rem;
    }
    .App{
        width: 100%;
        margin-left: 13px;
        /* margin-right: 5px; */
        display: flex;
        flex-direction: column;
        flex: 100%;
    }
}
/*=============mobile===============*/
@media screen and (max-width: 600px){
    .container{
        width: var(--container-width-sm);
    }
    section > h2{
        margin-top: 2rem;
    }
    .App{
        width: 95%;
        margin-left: 10px;
        /* margin-right: 5px; */
        display: flex;
        flex-direction: column;
        flex: 100%;
    }
}

/*==============================================*/


/* .NavList{
    display: flex;
    padding: 2px;
} */
/* .NavList li a{
    padding: 50px;
} */








/* ====================Practical Stuff ===================*/



















.Tweet {
    display: flex;
    background-color: rgb(50, 71, 80);
    border: 1px solid rgb(4, 86, 110);
    border-radius: 5px;
    width: 500px;
    min-height: 70px;
    padding: 10px;
    margin: 5px;

}
.TweetContent{
    background-color: #9ecce7;
    border-radius: 5px;
    padding: 10px;
    margin:1px;
}

.UserProfileImage{
    margin:5px;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    /* padding:10px; */
}

.userImage{
    margin:5px;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    /* padding:10px; */
}
.time{
    padding-left: 0.3em;
    color: #005368;
}
.time ::before{
    content: "\00b7";
    padding-right: 0.3em;
}
.Buttons{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1em;
    color: rgb(255, 255, 255);
}
.Buttons i{
    width: 60px;
}
.DiceGame{
    display: flexbox;
    align-content: center;
    background-color: #005368;
    margin-top: 10px;
    margin-left: 20px;
    width: 500px;
}
.Die{
    font-size:5em;
    padding:0.25em;
    color:rgb(216, 169, 41);
}

.DiceHolder{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    /* font-size: 5em; */
}